{% extends 'base.html.twig' %}

{% block title %}Simple page{% endblock %}
{% block bodyClass %}skin-red sidebar-mini{% endblock %}


{% block body %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Dashboard
        </h1>
    </section>
</div>
{% endblock %}



